@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" />
    <title>WE Help News</title>
    <!-- Bootstrap CSS -->
    <link href="~/vendors/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendors/css/flaticon.css" rel="stylesheet" />
    <link href="~/vendors/css/themify-icons.css" rel="stylesheet" />
    <link href="~/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/vendors/nice-select/css/nice-select.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/vendors/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
           
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="~/Home/Index">

                        <img src="~/img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler"

                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Home/Index">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/course/index">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Scholarship/Index">Schemes & Scholarships</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="~/Home/Blog">News</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Event/Index">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Login">Sign-in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner_content text-center">
                            <p class="text-uppercase">
                                News
                            </p>
                            <h2 class="text-uppercase mt-4 mb-5">
                                women educational help
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Karthik Goenka<i class="ti-user"></i></a></li>
                                        <li><a href="#">12 Dec, 2017<i class="ti-calendar"></i></a></li>
                                        <li><a href="#">3.2M Views<i class="ti-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="ti-comment"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="~/img/blog/main-blog/blog1.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="~/Blog/SingleBlog">
                                            <h2>Wearables: BELLABEAT</h2>
                                        </a>
                                        <p>For making smart jewelry that goes with everything you wear.</p>
                                        <a href="~/Blog/SingleBlog" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Karan Tacker<i class="ti-user"></i></a></li>
                                        <li><a href="#">18 July, 2017<i class="ti-calendar"></i></a></li>
                                        <li><a href="#">1.12M Views<i class="ti-eye"></i></a></li>
                                        <li><a href="#">11 Comments<i class="ti-comment"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="~/img/blog/main-blog/blog2.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="~/Blog/SingleBlog">
                                            <h2>Suraksha app</h2>
                                        </a>
                                        <p>
                                            Launched by the Karnataka Govt., this is a huge leap in the space of
                                            active police-controlled evidence-based approach to capturing the perpetrators
                                            of violence against women.
                                        </p>
                                        <a href="~/Blog/SingleBlog" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Arushi Thakur<i class="ti-user"></i></a></li>
                                        <li><a href="#">16 May, 2017<i class="ti-calendar"></i></a></li>
                                        <li><a href="#">1.8M Views<i class="ti-eye"></i></a></li>
                                        <li><a href="#">04 Comments<i class="ti-comment"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="~/img/blog/main-blog/blog3.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="~/Blog/SingleBlog">
                                            <h2>Safelet</h2>
                                        </a>
                                        <p>
                                            A safety bracelet designed to be stylish and aid in women’s safety is a
                                            device that’s quite popular in the US.
                                        </p>
                                        <a href="~/Blog/SingleBlog" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Mishti Reddy<i class="ti-user"></i></a></li>
                                        <li><a href="#">24 Dec, 2016<i class="ti-calendar"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="ti-eye"></i></a></li>
                                        <li><a href="#">16 Comments<i class="ti-comment"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="~/img/blog/main-blog/blog4.png" alt="">
                                    <div class="blog_details">
                                        <a href="~/Blog/SingleBlog">
                                            <h2>ROAR (Athena)</h2>
                                        </a>
                                        <p>
                                            ROAR for Good created its first product, Athena, to create a simple way for
                                            women to get help.
                                        </p>
                                        <a href="~/Blog/SingleBlog" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="ti-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            <div class="media post_item">
                                <img src="~/img/blog/popular-post/blog1.png" alt="post"/>
                                <div class="media-body">
                                    <a href="~/Blog/SingleBlog">
                                        <h3>Wearables: BELLABEAT</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/blog/popular-post/post2.jpg" alt="post">
                                <div class="media-body">
                                    <a href="~/Blog/SingleBlog">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/blog/popular-post/post3.jpg" alt="post">
                                <div class="media-body">
                                    <a href="~/Blog/SingleBlog">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/blog/popular-post/post4.jpg" alt="post">
                                <div class="media-body">
                                    <a href="~/Blog/SingleBlog">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>

                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="ti-email" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>