@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" />
    <title>WE Help Education</title>
    <!-- Bootstrap CSS -->
    <link href="~/vendors/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendors/css/flaticon.css" rel="stylesheet" />
    <link href="~/vendors/css/themify-icons.css" rel="stylesheet" />
    <link href="~/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/vendors/nice-select/css/nice-select.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/vendors/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
        <div class="main_menu">
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="/Home/Index">
                        <img class="logo-2" src="~/img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Course/Index">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Scholarship/Index">Schemes & Scholarships</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Blog">News</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/Event/Index">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Login">Sign-in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Institutions</h2>
                            <div class="page_link">
                                <a href="/Home/Index">Home</a>
                                <a href="/Course/Index">Institutions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Popular Courses Area =================-->
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">All Institutions</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <div class="form-group">
                                <select class="form-control" id="sel1">
                                    <option selected="true" disabled>-select education level-</option>
                                    <option>PG</option>
                                    <option>UG</option>
                                    <option>Intermediate</option>
                                    <option>School</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <div class="form-group">
                                <select class="form-control" id="sel1">
                                    <option selected="true" disabled>-select state-</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <div class="form-group">
                                <select class="form-control" id="sel1">
                                    <option selected="true" disabled>-select city-</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <div class="form-group">
                                <select class="form-control" id="sel1">
                                    <option selected="true" disabled>-select ngo-</option>
                                    <option>Government</option>
                                    <option>Private</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-12">
                @for (int i = 0; i < ViewBag.Institutions.Count; i++)
                {
                    Institution institution = ViewBag.Institutions[i];
                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="tag mb-4 d-inline-block">@institution.InstitutionType.Value</span>
                            <h4 class="mb-3">
                                <a href="/course/CourseDetails/@institution.ID">@institution.Name</a>
                            </h4>
                            <p>
                                @institution.Descriptions
                            </p>
                            <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                                <div class="mt-lg-0 mt-3">
                                    <span class="meta_info mr-4">
                                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                    </span>
                                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                }
                <!--
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="~/Course/CourseDetails.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="course-details.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="course-details.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="course-details.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="course-details.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="single_course">
                    <div class="course_head">
                        <img class="img-fluid" src="~/img/courses/c3.jpg" alt="" />
                    </div>
                    <div class="course_content">
                        <span class="tag mb-4 d-inline-block">UG</span>
                        <h4 class="mb-3">
                            <a href="course-details.cshtml">Computer Engineering</a>
                        </h4>
                        <p>
                            *------------------------*
                        </p>
                        <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">

                            <div class="mt-lg-0 mt-3">
                                <span class="meta_info mr-4">
                                    <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                </span>
                                <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
                    -->

            </div>
        </div>
    </div>

    <!--================ End Popular Courses Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>

