@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" />
    <title>Courses Details</title>
    <!-- Bootstrap CSS -->
    <link href="~/vendors/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendors/css/flaticon.css" rel="stylesheet" />
    <link href="~/vendors/css/themify-icons.css" rel="stylesheet" />
    <link href="~/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/vendors/nice-select/css/nice-select.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/vendors/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
        <div class="main_menu">
            
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="Index.cshtml">
                        <img class="logo-2" src="~/img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Course/Index">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Scholarship/Index">Schemes & Scholarships</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Blog">News</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/Event/Index">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Login">Sign-in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Course Details</h2>
                            <div class="page_link">
                                <a href="/Home/Index">Home</a>
                                <a href="/Course/Index">Courses</a>
                                <a href="/Course/CourseDetails">Courses Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="~/img/courses/KV.jpg" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Objectives</h4>
                        <div class="content">
                            1.To cater to the educational needs of the children of transferable Central Government employees including Defence and Para-Military personnel by providing a common programme of education;<br />
                            2.To pursue excellence and set pace in the field of school education;<br />
                            3.To initiate and promote experimentation and innovativeness in education in collaboration with other bodies like the Central Board of Secondary Education and National Council of<br/>
                            4.To carry out Educational Research and Training etc.<br />
                            5.To develop the spirit of national integration and create a sense of "Indianness" among children. Memorandum Of Association (Hindi version);<br />
                            6.To Provide, establish, endow, maintain, control & manage schools, hereinafter called the 'Kendriya Vidyalaya' for the children of transferable employees of the Government of India, floating populations & others including those living in remote & undeveloped locations of the country & to do all acts & things necessary for the conducive to the promotions of such schools.<br />

                        </div>
                        <h4 class="title">Eligibility</h4>
                        <div class="content">
                            1.Girls 10+ age group considered for KGBV.<br />
                            2.Girls who have no primary schooling facility within 1 KM radius.<br />
                            3.Over age girls from Residential Bridge courses.<br />
                            4.Girls who have no upper primary education facility for further studies in their village own village.<br />
                            5.Priority is given to SC/ST/OBC girls and those belonging to BPL families Reservation policy<br />
                            6.In all 75% seats reserved for SC, ST, OBC, Minority<br />
                            7.25% seats reserved for BPL families<br />
                            8.Priority given to girls with special needs.<br />

                        </div>
                        
                        
                    </div>
                </div>

                <div class="col-lg-4 right-contents">
                    <h4 class="title">Reviews</h4>
                    <div class="content">
                        <div class="review-top row pt-40">
                            <div class="col-lg-12">
                                <h6 class="mb-15">Provide Your Rating</h6>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Puncuality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedeback">
                            <h6>Your Feedback</h6>
                            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                            <div class="mt-10 text-right">
                                <a href="#" class="primary-btn2 text-right rounded-0 text-white">Submit</a>
                            </div>
                        </div>
                        <div class="comments-area mb-30">
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/img/blog/c2.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5>
                                                <a href="#">Vivek Vardhan</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star"></span>
                                                    <span class="ti-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                This is a great institute with a good infrastructure.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/img/blog/c5.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5>
                                                <a href="#">Nithin Reddy</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                This institution is providing a quality education with a proper basics.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/img/blog/c3.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5>
                                                <a href="#">Divya Prakash</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                Great school makes great leaders. This is one of them.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>
